*{margin: 0;
     padding: 0;
    }
.cabeçalho{ 
    background-color: blue;
    color:rgb(184, 247, 182);
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    font-family: arial;
    align-items: center;
}

.cabeçalho-titulo {
    font-size: 32px;
    font-style: oblique;
}

.cabeçalho-lista {
    font-size: 24px;
}

.cabeçalho-lista-item{
    display: inline-flex;
    justify-content: space-around;
    padding: 20px;

}
.escola{ 
         background-image: linear-gradient(#0c8620, #4edd66);
         color: black;
         display:flex;
         justify-content: center;
         align-items:center;
         padding: 24px 0;
 }
 .escola-conteudo {
    width: 40%;
    font-family: arial; 
    display: flex;
    align-items: center;
    justify-content: center;
           
 }
.escola-imagem { 
    margin: 0 20px;
}
.escola.titulo { 
    padding: 24px 0;
}
.escola-texto { 
    font-size: 30px;

}  
 .estudante-image {
    width: 50px;
    color: white;
}

.estudantes-div{ background-image: linear-gradient(#0c8620, #4edd66);
    display:flex;
    justify-content: center;
         align-items:center;




}


